<% if(posts.length > 0){posts.forEach(post => {%>
<div class="postContainer">
	<div class="postHeader">
		<i class="fa-solid fa-user"></i>
		<h4 class="postTitle"><%= post.postTitle %></h4>
		<h4 class="postAuthor">
			<%= user._id.toString() === post.userId ? post.userDisplayName :
			"Anonymous"; %>
		</h4>
		<div class="postDate"><%= post.updatedAt.toDateString() %></div>
	</div>
	<p class="postBody"><%= post.postBody %></p>
</div>
<% })} else { %>
<p>no posts available</p>
<% } %>

<!-- <div id="postsMain">
	<div id="createPostContainer"><%- include("./posts-create.ejs") %></div>
	<div id="postsContainer">
		<% if(posts.length > 0){posts.forEach(post => {%>
		<div class="post">
			<h5 class="postTitle"><%= post.title %></h5>
			<p class="postBody"><%= post.body %></p>
		</div>
		<% })} else { %>
		<p>no posts available</p>
		<% } %>
	</div>
</div> -->
