<% if(posts.length > 0){posts.forEach(post => {%>
<div class="post">
	<div class="postHead">
		<p class="userIcon"><%= post.userDisplayName.charAt(0) %></p>
		<p class="postTitle"><%= post.postTitle %></p>
	</div>
	<p class="postBody"><%= post.postBody %></p>
	<div class="postFooter">
		<div class="postFooterLeft">
			Posted by&nbsp;
			<p class="userDisplayName"><%= post.userDisplayName %></p>
			&nbsp;on&nbsp;
			<p class="postDate"><%= post.updatedAt.toDateString() %>.</p>
		</div>
	</div>
</div>
<% })} else { %>
<p>no posts available</p>
<% } %>
