<div id="postsMain">
	<% if(user){ %> <%- include("./posts-create.ejs"); %> <% switch
	(user.accountType) { case 'admin': %> <%- include("./posts/admin-posts.ejs",
	{posts: posts}); %> <% break; case 'member': %> <%-
	include("./posts/member-posts.ejs", {posts: posts}); %> <% break; case 'user':
	%> <%- include("./posts/user-posts.ejs", {posts: posts}); %> <% break;
	default: break; %> <% }} else { %> <%- include("./posts/anonymous-posts.ejs",
	{posts: posts}); %> <% } %>
</div>
<script>
	const posts = document.querySelectorAll("i.trash");
	posts.forEach((element) => {
		element.addEventListener("click", (event) => {
			console.log("trashcan clicked");
			const endpoint = `/posts/delete/${document.title}/${element.dataset.doc}`;

			fetch(endpoint, { method: "DELETE" })
				.then((response) => response.json())
				.then((data) => (window.location.href = data.redirect))
				.catch((error) => console.log(error));
		});
	});
</script>
