<% if(posts.length > 0){posts.forEach(post => {%>
<div class="post">
	<p class="userIcon">
		<%= user._id.toString() === post.userId ? post.userDisplayName.charAt(0) :
		"A"; %>
	</p>
	<h4 class="postTitle"><%= post.postTitle %></h4>
	<p class="postBody"><%= post.postBody %></p>
	<div class="postFooter">
		<div class="postFooterLeft">
			Posted by&nbsp;
			<p class="userDisplayName">
				<%= user._id.toString() === post.userId ? post.userDisplayName :
				"Anonymous"; %>
			</p>
			&nbsp;on&nbsp;
			<p class="postDate"><%= post.updatedAt.toDateString() %>.</p>
		</div>
	</div>
</div>
<% })} else { %>
<p>no posts available</p>
<% } %>
