<div id="postsMain">
	<% if(user){ %>
	<div id="createPostContainer"><%- include("./posts-create.ejs") %></div>
	<div id="postsContainer">
		<% if(postsList.length > 0){postsList.forEach(post => {%>
		<div class="post">
			<div class="postHeader">
				<h4 class="postTitle"><%= post.postTitle %></h4>
				<% if(user.accountType === "user") {%>
				<h4 class="postAuthor">
					<%= user._id.toString() === post.userId ? post.userDisplayName :
					"Anonymous"%>
				</h4>
				<% }else{ %> <%if(user.accountType === "admin") { %>
				<h4 class="trashCan">trashIcon</h4>
				<% } %>
				<h4 class="postAuthor"><%= post.userDisplayName %></h4>
				<% } %>
			</div>
			<p class="postBody"><%= post.postBody %></p>
		</div>
		<% })} else { %>
		<p>no posts available</p>
		<% } %>
	</div>
	<% }else{ %>
	<div id="postsContainer">
		<% if(postsList.length > 0){postsList.forEach(post => {%>
		<div class="post">
			<div class="postHeader">
				<h4 class="postTitle"><%= post.postTitle %></h4>
				<h4 class="postAuthor">Anonymous</h4>
			</div>
			<p class="postBody"><%= post.postBody %></p>
		</div>
		<% })} else { %>
		<p>no posts available</p>
		<% } %>
	</div>
	<% } %>
</div>
