<% if(user){ %>
<div class="createPostsContainer"><%- include("./posts-create.ejs"); %></div>
<% switch(user.accountType) { case 'admin': %>
<div class="postsMain">
	<%- include("./admin-posts.ejs", {posts: posts}); %>
</div>
<% break; case 'member': %>
<div class="postsMain">
	<%-include("./member-posts.ejs", {posts: posts}); %>
</div>
<% break; case 'user':%>
<div class="postsMain"><%- include("./user-posts.ejs", {posts: posts}); %></div>
<% break; default: break; %> <% }} else { %> <%-
include("./anonymous-posts.ejs", {posts: posts}); %> <% } %>
<script>
	const posts = document.querySelectorAll("i.trash");
	posts.forEach((element) => {
		element.addEventListener("click", (event) => {
			console.log("trashcan clicked");
			const endpoint = `/posts/delete/${document.title}/${element.dataset.doc}`;

			fetch(endpoint, { method: "DELETE" })
				.then((response) => response.json())
				.then((data) => (window.location.href = data.redirect))
				.catch((error) => console.log(error));
		});
	});
</script>
